doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://assets.adobedtm.com/b45c1a808e47/64dcf233ac23/launch-7e4636147b25-development.min.js" async)
  body
    block content
